version: '3'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: storecards-app
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=file:./dev.db
      - AUTH_SECRET=changeme
    volumes:
      - ./public/uploads:/app/public/uploads
      - ./prisma:/app/prisma
      - ./dev.db:/app/dev.db
